@use "variables" as *;
@use "mixins" as *;

.profile-card {
    max-width: 600px;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
    @include box-shadow;
    background-color: #fff;
}

.profile-header {
    @include flex-center(row, 15px);
    align-items: flex-end;
}

.profile-img-container {
    @include flex-center(column);
    align-items: flex-start;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid black;
}

.edit-btn-container {
    @include flex-center(row, 10px);
    align-items: flex-end;
}

.profile-description {
    margin-top: 20px;
    margin-left: 20px;
}