@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin hover-effect($color) {
    transition: color 0.3s;

    &:hover {
        color: $color;
    }
}

@mixin card-style {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}